<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <httpRedirect enabled="false" destination="" exactDestination="false" childOnly="false" />
    </system.webServer>
    <location path="winhostdefault.htm">
        <system.webServer>
            <httpRedirect enabled="false" destination="" />
        </system.webServer>
    </location>
    <location path="index.html">
        <system.webServer>
            <httpRedirect enabled="false" destination="" />
        </system.webServer>
    </location>
</configuration>
